[submodule "_data/hub-private"]
	path = _data/hub-private
	url = https://github.com/TeamLovely/hub-private/
[submodule "pages/hub-private"]
	path = pages/hub-private
	url = https://github.com/TeamLovely/hub-private/
