<footer class="footer">
  <div class="container">
    <ul>
      <li>
        <a href="{{ site.baseurl }}/team/">Team</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/projects/">Projects</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/values/">Values</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}{% unless site.public %}/private{% endunless %}/how-to/">How to...</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}{% unless site.public %}/private{% endunless %}/n00b/">Bootcamp</a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/about/">About the Hub</a>
      </li>
    </ul>

    <img src="{{ site.baseurl }}/assets/images/whitehub.png" alt="Lovely logo"/>
  </div>
</footer>
